USE [master]
GO
/****** Object:  Database [botchat]    Script Date: 5/7/2023 3:16:16 PM ******/
CREATE DATABASE [botchat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'botchat', FILENAME = N'O:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\botchat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'botchat_log', FILENAME = N'O:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\botchat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [botchat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [botchat]
GO
/****** Object:  User [ad]    Script Date: 5/7/2023 3:16:16 PM ******/
CREATE USER [ad] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ad]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [ad]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [ad]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [ad]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [ad]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ad]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ad]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [ad]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [ad]
GO
/****** Object:  Table [dbo].[userr]    Script Date: 5/7/2023 3:16:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userr](
	[id] [int] NOT NULL,
	[ten] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
